.root {
    /*-fx-font-size: 8pt;*/
    /*-fx-font-family: "Courier New";*/
    /*-fx-background: rgb(225, 228, 203);*/
}

.tree-cell .arrow {
    -fx-shape: null;
   -fx-background-color: transparent;;
    -fx-background-image: url("plus.png");
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: transparent;
    -fx-background-image: url("minus.png");
}
